/*---------------------------------------------------
共通line-heightここから
----------------------------------------------------*/

.lh-130pct {
  line-height: 1.3;
}

.lh-160pct {
  line-height: 1.6;
}

.lh-165pct {
  line-height: 1.65;
}

.lh-170pct {
  line-height: 1.7;
}

.lh-180pct {
  line-height: 1.8;
}

.lh-190pct {
  line-height: 1.9;
}

.lh-220pct {
  line-height: 2.2;
}


.lh-0f {
  line-height: 0.5 !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-1f {
  line-height: 1.5 !important;
}

.lh-2 {
  line-height: 2 !important;
}

.lh-2f {
  line-height: 2.5 !important;
}

.lh-3 {
  line-height: 3 !important;
}

.line-height-20 {
  line-height: 20px !important;
}

.line-height-24 {
  line-height: 24px !important;
}

.line-height-26 {
  line-height: 26px !important;
}

.line-height-27 {
  line-height: 27px !important;
}

.line-height-30 {
  line-height: 30px !important;
}

.line-height-32 {
  line-height: 32px !important;
}

.line-height-36 {
  line-height: 36px !important;
}

.line-height-40 {
  line-height: 40px !important;
}

.line-height-45 {
  line-height: 45px !important;
}

.line-height-50 {
  line-height: 50px !important;
}
/*-------------- lg ------------------*/
@media screen and (min-width: 992px) {
  .lh-lg-0f {
    line-height: 0.5 !important;
  }

  .lh-lg-1 {
    line-height: 1 !important;
  }

  .lh-lg-1f {
    line-height: 1.5 !important;
  }

  .lh-lg-2 {
    line-height: 2 !important;
  }

  .lh-lg-2f {
    line-height: 2.5 !important;
  }

  .lh-lg-3 {
    line-height: 3 !important;
  }

  .line-height-lg-20 {
    line-height: 20px !important;
  }

  .line-height-lg-24 {
    line-height: 24px !important;
  }

  .line-height-lg-26 {
    line-height: 26px !important;
  }

  .line-height-lg-27 {
    line-height: 27px !important;
  }

  .line-height-lg-30 {
    line-height: 30px !important;
  }

  .line-height-lg-32 {
    line-height: 32px !important;
  }

  .line-height-lg-36 {
    line-height: 36px !important;
  }

  .line-height-lg-40 {
    line-height: 40px !important;
  }

  .line-height-lg-45 {
    line-height: 45px !important;
  }

  .line-height-lg-50 {
    line-height: 50px !important;
  }
}
